nav.navbar.navbar-expand-lg.navbar-light.barra-menu
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Dropdown
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item
        a.nav-link.disabled(href='#') Disabled
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
      
      //- menu mas corto
      nav.navbar.navbar-expand-lg.navbar-light.barra-menu
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='#')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Opcion 1
            li.nav-item
              a.nav-link(href='#') Opcion 2
            li.nav-item
              a.nav-link(href='#') Opcion 3
            li.nav-item
              a.nav-link(href='#') Registrarme
              
    //- menu con botones
    .d-flex.barra-menu
      a.btn.btn-light.m-2(href='./', role='button', aria-pressed='true') Home
      a.btn.btn-light.m-2(href='#', role='button', aria-pressed='true') Opcion 1
      a.btn.btn-light.m-2(href='#', role='button', aria-pressed='true') Opcion 2
      a.btn.btn-light.m-2(href='./registrarme', role='button', aria-pressed='true') Registrarme 

    //- formulario para login
    form
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password')
      button.btn.btn-primary(type='submit') Submit
