extends ../layout

block content
  +generarMenu(menu)
  div.d-flex
    div.bg-white.caja-datos-personales(style='flex: 1.5;')    
      +generarInfoPersonal(tipoUsuario, usuario.nombre, usuario.apellido, usuario.cedula)
    div.bg-white.p-2(style='flex: 8;')
      h3.text-center Filtrar mis solicitudes
      form#formFiltrarMisSolicitudes(name="FiltrarMisSolicitudes", method="post")
        .row.p-3.row-filtro  
          .col(style='flex: 3')
            input#nroSolicitud.form-control(name="nroSolicitud", type='text', placeholder='Nro solicitud')
          .col(style='flex: 4.5')  
            input#univInstiProce.form-control(name="univInstiProce", type='text', placeholder='Universidad/instituto procedencia')
          .col(style='flex: 4.5')  
            input#univInstiDesti.form-control(name="univInstiDesti", type='text', placeholder='Universidad/instituto destino')
          .col(style='flex: 3')  
            input#fechaSolicitud.form-control(name="fechaSolicitud", placeholder='Fecha solicitud', onblur="(this.type='text')", onfocus="(this.type='date')")
          .col(style='flex: 1')
            button.btn.btn-primary(type='submit') Submit
      h3.text-center.p-2 Mis Solicitudes
      table#MisSolicitudes.table.table-hover.table-bordered.p-2
        thead
          tr
            th Nro. solicitud
            th Universidad / instituto procedencia
            th Universidad / Instituto destino
            th Fecha Solicitud
            th Status
        tbody
          tr(onClick="document.location='/solicitudes/detalleSolicitud';")
            th(scope='row') 1
            td Mark
            td Otto
            td @mdo
            td Mark
          tr(onClick="document.location='/solicitudes/detalleSolicitud';")
            th(scope='row') 2
            td Mark
            td Otto
            td @mdo
            td Mark
          tr(onClick="document.location='/solicitudes/detalleSolicitud';")
            th(scope='row') 3
            td Mark
            td Otto
            td @mdo
            td Mark
          tr(onClick="document.location='/solicitudes/detalleSolicitud';")
            th(scope='row') 4
            td Mark
            td Otto
            td @mdo
            td Mark
      a.btn.btn-primary.m-2.float-right(href= "/solicitudes/registrarSolicitud", role='button', aria-pressed='true') Registrar nueva solicitud
