body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
}

a {
  color: #00B7FF;
}

.container-fluid {
  width: 75%;
  min-height: 900px;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.logo {
  width: 20%;
}

.barra-menu {
  background-color: #f5d033;
}

.card-iniciar-sesion {
  border-color: #007bff;
}

.paddin-05{
  padding: .5rem;
}

.caja-datos-personales{
  border-right: 3px solid black;
  height: 672px;
}

.row-filtro{
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 2px solid black;
}
