extends ../layout

block content
  +generarMenu(menu)
  div.d-flex
    div.bg-white.caja-datos-personales(style='flex: 1.5;')    
      +generarInfoPersonal(tipoUsuario, usuario.nombre, usuario.apellido, usuario.cedula)
    div.bg-white.p-2(style='flex: 8;')
      form#formCambiarContrasena(name="formCambiarContrasena", method="post")
        .d-flex
          .p-3.flex-fill.align-self-start
            .card.card-iniciar-sesion
              .card-header.bg-primary.text-white
                h6 Cambiar Contrasena
              .card-body
                .row.p-2
                  .col
                      label(for='antiguaContrasena') Antigua contrasena
                      input#antiguaContrasena.form-control(name="antiguaContrasena", type='password', placeholder="Ingrese su antigua contrasena")
                  .col
                      label(for='nuevaContrasena') Nueva contrasena
                      input#nuevaContrasena.form-control(name="nuevaContrasena", type='password', placeholder="Ingrese su nueva contrasena")
                  .col
                      label(for='confirNuevaContrasena') Confirmacion nueva contrasena
                      input#confirNuevaContrasena.form-control(name="confirNuevaContrasena", type='password', placeholder='Confirme su nueva contrasena') 
                        
            .d-flex.p-2.float-right
              //- .col
              button.btn.btn-primary(type='submit') Guardar
              - console.log(mensaje);
        p#mensaje(data-toggle='modal', data-target='#modalMensaje', hidden = 'true') #{mensaje}
        
        +generarModal(mensaje,1)
