extends ../layout

block content
  +generarMenu(menu)
  //- .container-fluid
  div.d-flex
    div.bg-white(style='flex: 8;')      
      p.p-3.text-justify
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel orci viverra, varius mauris a, tincidunt lectus. Nulla ultricies erat sed nunc ultricies suscipit. Mauris quis lacus nec magna ullamcorper condimentum. Etiam id erat nisi. Ut orci elit, pretium in pellentesque eget, efficitur in libero. Integer at metus at diam tempus dignissim vel in purus. Integer viverra, magna a varius posuere, leo enim consectetur tortor, vel iaculis ex arcu id ante. Integer ac sodales ante, non interdum nunc. Nunc tristique hendrerit justo, et mollis turpis maximus rutrum. Sed eleifend rutrum interdum. Ut a elementum quam, et lacinia lorem. Fusce vulputate, lectus et eleifend tempus, enim tellus tristique arcu, nec bibendum dui turpis at lectus. Donec nisi dolor, ullamcorper in sem quis, mattis fringilla lorem. Nullam vulputate, tellus quis rutrum condimentum, mi nisl blandit mauris, vitae posuere metus ex non ipsum. Nunc eget metus nisl.
        | Mauris efficitur lectus at mi suscipit fermentum. Fusce et risus elit. Suspendisse pulvinar lectus at elit volutpat ultrices. Etiam feugiat, enim id malesuada ullamcorper, tellus arcu elementum quam, semper ultricies risus dolor non diam. Nam tincidunt dapibus mi, faucibus euismod lacus gravida auctor. Proin facilisis quam ligula, eu rhoncus massa varius quis. Donec imperdiet tincidunt ipsum et accumsan. Praesent id nunc urna. Nulla sed ex sem. Phasellus mauris lectus, sagittis eget commodo at, semper eget sem.
      p.p-3.text-justify
        | Nullam non diam gravida purus ultricies rutrum. Sed sodales elit et orci placerat, a dictum orci aliquam. Curabitur risus nisl, aliquam quis neque vitae, gravida faucibus magna. Curabitur aliquam mauris posuere, pellentesque nisl ut, scelerisque libero. Etiam ante eros, mattis consequat purus sit amet, porttitor mattis diam. Nulla condimentum varius scelerisque. Mauris ultricies at tellus non varius. Sed scelerisque quam non lacinia tempor. Vestibulum quis odio at est rutrum dictum.
        | Curabitur quam nibh, porta non elit at, blandit ultricies nunc. Sed augue dolor, ullamcorper et elit at, molestie auctor velit. Ut vulputate ligula mi, ac condimentum mauris euismod at. Donec ultricies dolor sit amet ante tempor, varius pellentesque orci suscipit. Cras eget augue orci. Sed tristique mattis magna quis faucibus. Nulla facilisi. In lacinia dui vel risus pulvinar, non fringilla erat consequat. Integer quis euismod diam, a fermentum felis.
        | Integer vel varius sapien, ut iaculis lacus. Fusce viverra, eros vel consectetur tincidunt, ipsum arcu suscipit justo, in fermentum libero massa maximus eros. Donec nunc dolor, mattis vitae tincidunt eget, pulvinar eget dolor. Vivamus eu vulputate turpis. Aliquam varius ut lorem a euismod. Aenean malesuada massa tortor, finibus maximus sapien feugiat nec. Sed volutpat leo ipsum, at elementum diam pulvinar non. Ut sed vestibulum metus. Nunc efficitur magna libero, eget congue erat varius at. Aenean id ornare nunc, et fringilla urna. Nam viverra sodales urna, sed varius dui laoreet quis. Aliquam imperdiet pulvinar nibh nec efficitur. Integer et mollis ex, a ullamcorper leo.
        | In et hendrerit ipsum. Mauris quis ante et ipsum mattis malesuada. Aenean a lacus iaculis, egestas mauris a, tempus tortor. Nullam pellentesque eu purus quis varius. Phasellus efficitur pulvinar aliquam. Aenean leo augue, scelerisque eu egestas et, suscipit ut lorem. Cras faucibus dapibus ipsum, et dapibus mauris maximus id. Phasellus suscipit consequat purus, et tempus ligula interdum quis.
        | Aliquam erat volutpat. Ut vel magna malesuada, efficitur ex lobortis, viverra justo. Integer mattis ante sit amet suscipit luctus. Vestibulum porta leo magna, eget semper metus ullamcorper at. Donec sit amet turpis egestas, efficitur est ac, blandit metus. Maecenas interdum nunc sed nibh semper condimentum non nec arcu. Proin dapibus tincidunt nisi a convallis.

      p.p-3.text-justify
        | Nullam non diam gravida purus ultricies rutrum. Sed sodales elit et orci placerat, a dictum orci aliquam. Curabitur risus nisl, aliquam quis neque vitae, gravida faucibus magna. Curabitur aliquam mauris posuere, pellentesque nisl ut, scelerisque libero. Etiam ante eros, mattis consequat purus sit amet, porttitor mattis diam. Nulla condimentum varius scelerisque. Mauris ultricies at tellus non varius. Sed scelerisque quam non lacinia tempor. Vestibulum quis odio at est rutrum dictum.
        | Curabitur quam nibh, porta non elit at, blandit ultricies nunc. Sed augue dolor, ullamcorper et elit at, molestie auctor velit. Ut vulputate ligula mi, ac condimentum mauris euismod at. Donec ultricies dolor sit amet ante tempor, varius pellentesque orci suscipit. Cras eget augue orci. Sed tristique mattis magna quis faucibus. Nulla facilisi. In lacinia dui vel risus pulvinar, non fringilla erat consequat. Integer quis euismod diam, a fermentum felis.
        | Integer vel varius sapien, ut iaculis lacus. Fusce viverra, eros vel consectetur tincidunt, ipsum arcu suscipit justo, in fermentum libero massa maximus eros. Donec nunc dolor, mattis vitae tincidunt eget, pulvinar eget dolor. Vivamus eu vulputate turpis. Aliquam varius ut lorem a euismod. Aenean malesuada massa tortor, finibus maximus sapien feugiat nec. Sed volutpat leo ipsum, at elementum diam pulvinar non. Ut sed vestibulum metus. Nunc efficitur magna libero, eget congue erat varius at. Aenean id ornare nunc, et fringilla urna. Nam viverra sodales urna, sed varius dui laoreet quis. Aliquam imperdiet pulvinar nibh nec efficitur. Integer et mollis ex, a ullamcorper leo.

    div.bg-white.p-2(style='flex: 2;')
      .card.card-iniciar-sesion
        .card-header.bg-primary.text-white
          h5 Iniciar Sesion
        .card-body
          form#formIniciarSesion(name="iniciarSesion", method="post")
            .form-group
              label(for='Cedula') Cedula
              input#cedula.form-control(type='text', placeholder='Ingrese su cedula', name='cedula')
            .form-group
              label(for='Contrasena') Contrasena
              input#contrasena.form-control(type='password', placeholder='Ingrese su contrasena', name='contrasena')
            button#submitIniciarSesion.btn.btn-primary(type='submit') Submit

    if(data)
      p#mensaje(data-toggle='modal', data-target='#modalMensaje', hidden = 'true') #{data.mensaje}
      if(data.codigo == 0)
        +generarModal(data.tipoUsuario,2)
      else
        +generarModal(data.mensaje,1)
    
